---
import { db, Openings } from "astro:db";
import Layout from "../layouts/Layout.astro";

if (Astro.request.method === "POST") {
    // parse form data
    const formData = await Astro.request.formData();
    const jobname = formData.get("jobname");
    const joburl = formData.get("joburl");
    const jobcategory = formData.get("jobcategory");
    const jobdescription = formData.get("jobdescription");
    const joblocation = formData.get("joblocation");
    const companyname = formData.get("companyname");
    const companyurl = formData.get("companyurl");
    const companycategory = formData.get("companycategory");

    if (typeof jobname === "string" && typeof joburl === "string" && typeof companyname === "string" && typeof jobcategory === "string") { 
        await db.insert(Openings).values({
            // @ts-ignore
            jobname,
            joburl,
            jobcategory,
            jobdescription,
            joblocation,
            companyname,
            companyurl,
            companycategory          
        });
    }
}

// render the new list of comments on each request
//const listings = await db.select().from(Openings);
---

<Layout title="Admin.">
<form method="POST" class="middle-pane-medium grid font-semibold">
    <label for="jobname">Job Name</label>
    <input id="jobname" name="jobname" class="py-3 px-4 block w-full text-md  border border-gray-700 bg-slate-900 mb-4"  />
    <label for="joburl">Job URL</label>
    <input id="joburl" name="joburl" class="py-3 px-4 block w-full text-md  border border-gray-700 bg-slate-900 mb-4" />
    <label for="jobcategory">Job Category</label>
    <input id="jobcategory" name="jobcategory" class="py-3 px-4 block w-full text-md  border border-gray-700 bg-slate-900 mb-4" />
    <label for="jobdescription">Job Description</label>
    <textarea id="jobdescription" name="jobdescription" class="py-3 px-4 block w-full text-md  border border-gray-700 bg-slate-900 mb-4"></textarea>
    <label for="joblocation">Job Location</label>
    <input id="joblocation" name="joblocation" class="py-3 px-4 block w-full text-md  border border-gray-700 bg-slate-900 mb-4"/>
    <label for="companyname">Company Name</label>
    <input id="companyname" name="companyname" class="py-3 px-4 block w-full text-md  border border-gray-700 bg-slate-900 mb-4" />
    <label for="companyurl">Company URL</label>
    <input id="companyurl" name="companyurl" class="py-3 px-4 block w-full text-md  border border-gray-700 bg-slate-900 mb-4" />
    <label for="companycategory">Company Category</label>
    <input id="companycategory" name="companycategory" class="py-3 px-4 block w-full text-md  border border-gray-700 bg-slate-900 mb-4" />

    <button type="submit" class="hover:bg-white hover:text-black min-w-44 min-h-10 bg-white/10 border-b border-white/20 transition duration-[3000ms] ease-in-out transform">Submit</button>
</form>
</Layout>

<!--render `comments`-->
