---
import Layout from "../layouts/Layout.astro";
import jobs from "@data/jobs.json";
import JobItem from "../components/JobItem.astro";

// Get all unique categories
const categories = [...new Set(jobs.map((job) => job.jobcategory))];
---

<Layout title="Jobs.">
	<main class="my-20 middle-pane-medium flex flex-col gap-8 md:flex-row">
		<astro-side-filter class="flex flex-row md:w-64 md:flex-col gap-4 mt-8 justify-center w-full md:justify-start">
			<button data-filter="all">All</button>
			{
				categories.map((category) => (
					<button class="button" data-filter={category}>
						{category}
					</button>
				))
			}
		</astro-side-filter>
		<article class="grow transition-all duration-500">
			{jobs.map((post) => <JobItem item={post} />)}
		</article>
	</main>
</Layout>
<script>
	class AstroSideNav extends HTMLElement {
		constructor() {
			super();
			const buttons = this.querySelectorAll("button");
			const jobItems = document.querySelectorAll(".w3pn-event-item");
			buttons.forEach((button) => {
				const filter = button.dataset.filter;
				button.addEventListener("click", () => {
					jobItems.forEach((jobItem) => {
						jobItem.classList.add("hidden");
					});
					const selectedJobItems = document.querySelectorAll(
						`.w3pn-event-item.${filter}`,
					);
					selectedJobItems.forEach((jobItem) => {
						jobItem.classList.remove("hidden");
					});
					//console.log(jobItems);
				});
			});
		}
	}

	// Tell the browser to use our AstroSideNav class for <astro-heart> elements.
	customElements.define("astro-side-filter", AstroSideNav);
</script>
