---
import * as config from "@data/config.json";
import * as pkg from "../../package.json";
import core from "@data/core.json";
import "../styles/base.css";
import MetaTags from "../components/MetaTags.astro";

const { banner, title, metaTitle, description, image } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />

		<MetaTags
			title={metaTitle ? metaTitle : title ? title : config.title}
			description={description ? description : config.description}
			image={image}
		/>

		<link
			rel="preload"
			href="/fonts/archivo-regular-latin-ext.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			href="/fonts/archivo-regular-latin.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			href="/fonts/major-mono-display-v13-latin-regular.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
	</head>
	<body class="bg-black bg-gradient-to-tl from-black to-blue-900/30 text-white min-h-full">
		<div
			class="w-full z-10"
		>
			<div class="w-full h-full flex mt-10  middle-pane-medium">
				<div>
					<div class="text-white text-3xl font-bold">Jobs.</div>
					<div class="w3pn-logo w-64 sm:w-72 lg:w-80 xl:w-96"></div>
					<div class="text-left mt-10">
						Are you passionate about privacy? Do what you love by joining one of these companies contributing to privacy in the web3. Empower everyone from developers to users with meaningful tech, valuable use cases & advocacy.
					</div>
					<div class="mt-6">
						<a class="button" href="https://web3privacy.info/about/">
							<button>About Web3Privacy Now</button>
						</a>
					</div>
				</div>
			</div>
		</div>

		<slot />

		<div
			class="border-0 border-t-2 border-white/10 p-16 relative bottom-0"
		>
			<div class="middle-pane-big">
				<div
					class="flex gap-10 text-lg items-center flex-wrap align-top"
					id="footerMenu"
				>
					<a href="/" aria-label="home" class="w3pn-logo w-32"></a>
					<div class="text-md">
						<a
							href="https://github.com/web3privacy/web"
							class="text-white hover:underline">v{pkg.version}</a
						>
					</div>
					<div class="grow flex sm:justify-end">
						<div
							class="sm:flex justify-center flex-wrap gap-4 lg:gap-10"
						>
							{
								config.footer.menu.map((item) => (
									<div class="flex gap-4 items-center menuItem lg:mb-0 mb-2">
										<div
											class="icon small opacity-50"
											class:list={[item.ico]}
										/>
										<div class="text-white hover:underline">
											<a href={core.links[item.link]}>
												{item.title}
											</a>
										</div>
									</div>
								))
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
